<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>AtividadePratica</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <app-root>
    <h1>Listas de Alunos</h1>
    <!--centraliza a tebela-->
    <table align="center" border="2" cellpadding="5" cellspacing="2">
      <caption>
        <h1><b>Agenda</b></h1>
      </caption>
      <!--cabelçalho da tebela-->
      <tr>
        <td width="150" bgcolor="#808080"><b>Nome</b></td>
        <td width="100" bgcolor="#808080"><b>RU</b></td>
        <td width="300" bgcolor="#808080"><b>Curso</b></td>
        <td width="120" bgcolor="#808080"><b>Data Nascimento</b></td>
      </tr>
      <!--conteudo da tabela-->
      <tr>
        <td>Kalebe Jucelio da Silva</td>
        <td>3048613</td>
        <td>Análise e Desenvolvimento de Sistemas</td>
        <td>31/05/1987</td>
      </tr>
      <tr>
        <td>Jose Almeida</td>
        <td>4785125</td>
        <td>Engenharia de Software</td>
        <td>15/04/1989</td>
      </tr>
      <tr>
        <td>Maria Betina</td>
        <td>6345852</td>
        <td>Ciências de Dados</td>
        <td>28/02/2000</td>
      </tr>
      <tr>
        <td>Luiz Oliveira</td>
        <td>1245632</td>
        <td>Logística</td>
        <td>16/08/1994</td>
      </tr>
      <tr>
        <td>Jurema da Silva</td>
        <td>6482456</td>
        <td>Processos Químicos</td>
        <td>10/11/1996</td>
      </tr>
    </table>
  </app-root>
</body>

</html>